<p id="notice"><%= notice %></p>

<% if @pasv.ref_file.attached? %>
  <!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Ref file:</strong>
    <br>
    <%= File.open(ActiveStorage::Blob.service.send(:path_for, @pasv.ref_file.key), "rt").read[0..100].inspect + "..."%>
  </p>
<% end %>

<% if @pasv.query_file.attached? %>
  <!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Query file:</strong>
    <br>
    <%= File.open(ActiveStorage::Blob.service.send(:path_for, @pasv.query_file.key), "rt").read[0..100].inspect + "..."%>
  </p>
<% end %>

<p>
  <strong>Aligner:</strong>
  <%= @pasv.aligner %>
</p>

<p>
  <strong>Roi start:</strong>
  <%= @pasv.roi_start %>
</p>

<p>
  <strong>Roi end:</strong>
  <%= @pasv.roi_end %>
</p>

<%= link_to 'Edit', edit_pasv_path(@pasv) %> |
<%= link_to 'Back', pasvs_path %>
