<p id="notice"><%= notice %></p>

<% if @ref_file_preview %>
  <p>
    <strong>Ref file:</strong>
    <br>
    <%= @ref_file_preview %>
  </p>
<% end %>

<% if @query_file_preview %>
  <p>
    <strong>Query file:</strong>
    <br>
    <%= @query_file_preview %>
  </p>
<% end %>

<p>
  <strong>Aligner:</strong>
  <%= @pasv.aligner %>
</p>

<p>
  <strong>Roi start:</strong>
  <%= @pasv.roi_start %>
</p>

<p>
  <strong>Roi end:</strong>
  <%= @pasv.roi_end %>
</p>

<%= link_to 'Edit', edit_pasv_path(@pasv) %> |
<%= link_to 'Back', pasvs_path %>
